In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('HRDataset_clean.csv', low_memory=False)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               311 non-null    object
 1   EmpID                       311 non-null    int64
 2   MarriedID                   311 non-null    int64
 3   MaritalStatusID             311 non-null    int64
 4   GenderID                    311 non-null    int64
 5   EmpStatusID                 311 non-null    int64
 6   DeptID                      311 non-null    int64
 7   PerfScoreID                 311 non-null    int64
 8   FromDiversityJobFairID      311 non-null    int64
 9   Salary                      311 non-null    int64
 10  Termd                       311 non-null    int64
 11  PositionID                  311 non-null    int64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    int64
 15  DOB                         311 non-null    object
 16  Sex                         311 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 311 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    311 non-null    object
 21  DateofHire                  311 non-null    object
 22  DateofTermination           104 non-null    object
 23  TermReason                  311 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  311 non-null    object
 26  ManagerName                 311 non-null    object
 27  ManagerID                   311 non-null    float64
 28  RecruitmentSource           311 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    int64
 32  SpecialProjectsCount        311 non-null    int64
 33  LastPerformanceReview_Date  311 non-null    object
 34  DaysLateLast30              311 non-null    int64
 35  Absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [3]:
df.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences'],
      dtype='object')

In [4]:
df.dtypes

Employee_Name                  object
EmpID                           int64
MarriedID                       int64
MaritalStatusID                 int64
GenderID                        int64
EmpStatusID                     int64
DeptID                          int64
PerfScoreID                     int64
FromDiversityJobFairID          int64
Salary                          int64
Termd                           int64
PositionID                      int64
Position                       object
State                          object
Zip                             int64
DOB                            object
Sex                            object
MaritalDesc                    object
CitizenDesc                    object
HispanicLatino                 object
RaceDesc                       object
DateofHire                     object
DateofTermination              object
TermReason                     object
EmploymentStatus               object
Department                     object
ManagerName                    object
ManagerID                     float64
RecruitmentSource              object
PerformanceScore               object
EngagementSurvey              float64
EmpSatisfaction                 int64
SpecialProjectsCount            int64
LastPerformanceReview_Date     object
DaysLateLast30                  int64
Absences                        int64
dtype: object

In [10]:
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [13]:
columnas_deseadas = ['DateofHire','DateofTermination','TermReason','EmploymentStatus','Department','ManagerName','ManagerID']

In [14]:
df_reducido = df[columnas_deseadas]

In [15]:
print(df_reducido)

    DateofHire DateofTermination         TermReason        EmploymentStatus  \
0     7/5/2011               NaN  N/A-StillEmployed                  Active
1    3/30/2015         6/16/2016      career change  Voluntarily Terminated
2     7/5/2011         9/24/2012              hours  Voluntarily Terminated
3     1/7/2008               NaN  N/A-StillEmployed                  Active
4    7/11/2011          9/6/2016   return to school  Voluntarily Terminated
..         ...               ...                ...                     ...
306   7/7/2014               NaN  N/A-StillEmployed                  Active
307   9/2/2008         9/29/2015   Another position  Voluntarily Terminated
308  4/10/2010               NaN  N/A-StillEmployed                  Active
309  3/30/2015               NaN  N/A-StillEmployed                  Active
310  9/29/2014               NaN  N/A-StillEmployed                  Active

            Department     ManagerName  ManagerID
0    Production         Michael Albert       22.0
1                IT/IS      Simon Roup        4.0
2    Production         Kissy Sullivan       20.0
3    Production           Elijiah Gray       16.0
4    Production         Webster Butler       39.0
..                 ...             ...        ...
306  Production         Kissy Sullivan       20.0
307  Production         Brannon Miller       12.0
308              IT/IS      Janet King        2.0
309              IT/IS      Simon Roup        4.0
310  Production          David Stanley       14.0

[311 rows x 7 columns]

In [16]:
column_dateofhire = df['DateofHire']
print(column_dateofhire)

0       7/5/2011
1      3/30/2015
2       7/5/2011
3       1/7/2008
4      7/11/2011
         ...
306     7/7/2014
307     9/2/2008
308    4/10/2010
309    3/30/2015
310    9/29/2014
Name: DateofHire, Length: 311, dtype: object

In [19]:
column_DateofTermination = df['DateofTermination']
print(column_DateofTermination)

0            NaN
1      6/16/2016
2      9/24/2012
3            NaN
4       9/6/2016
         ...
306          NaN
307    9/29/2015
308          NaN
309          NaN
310          NaN
Name: DateofTermination, Length: 311, dtype: object

In [23]:
column_TermReason = df['TermReason']
print(column_TermReason)

0      N/A-StillEmployed
1          career change
2                  hours
3      N/A-StillEmployed
4       return to school
             ...
306    N/A-StillEmployed
307     Another position
308    N/A-StillEmployed
309    N/A-StillEmployed
310    N/A-StillEmployed
Name: TermReason, Length: 311, dtype: object

In [24]:
column_EmploymentStatus = df['EmploymentStatus']
print(column_EmploymentStatus)

0                      Active
1      Voluntarily Terminated
2      Voluntarily Terminated
3                      Active
4      Voluntarily Terminated
                ...
306                    Active
307    Voluntarily Terminated
308                    Active
309                    Active
310                    Active
Name: EmploymentStatus, Length: 311, dtype: object

In [25]:
column_Department = df['Department']
print(column_Department )

0      Production
1                  IT/IS
2      Production
3      Production
4      Production
             ...
306    Production
307    Production
308                IT/IS
309                IT/IS
310    Production
Name: Department, Length: 311, dtype: object

In [26]:
column_ManagerName = df['ManagerName']
print(column_ManagerName)

0      Michael Albert
1          Simon Roup
2      Kissy Sullivan
3        Elijiah Gray
4      Webster Butler
            ...
306    Kissy Sullivan
307    Brannon Miller
308        Janet King
309        Simon Roup
310     David Stanley
Name: ManagerName, Length: 311, dtype: object

In [27]:
column_ManagerID = df['ManagerID']
print(column_ManagerID)

0      22.0
1       4.0
2      20.0
3      16.0
4      39.0
       ...
306    20.0
307    12.0
308     2.0
309     4.0
310    14.0
Name: ManagerID, Length: 311, dtype: float64

In [31]:
df['Department'].unique()

array(['Production       ', 'IT/IS', 'Software Engineering',
       'Admin Offices', 'Sales', 'Executive Office'], dtype=object)

In [ ]:
las fechas converitr en string para poderlas comparar.

In [ ]:
objetos - si las fechas estan en objects tenemos que cambiarlas.
int

In [32]:
df['EmploymentStatus'].unique()

array(['Active', 'Voluntarily Terminated', 'Terminated for Cause'],
      dtype=object)

In [33]:
df['TermReason'].unique()

array(['N/A-StillEmployed', 'career change', 'hours', 'return to school',
       'Another position', 'unhappy', 'attendance', 'performance',
       'Learned that he is a gangster', 'retiring',
       'relocation out of area', 'more money', 'military',
       'no-call, no-show', 'Fatal attraction',
       'maternity leave - did not return', 'medical issues',
       'gross misconduct'], dtype=object)